/*******COULEURS :*********

rouge = color: #d31f44;
gris = color: #3e3e3e;

**************************/

/**********FONTS**********/

@font-face {
    font-family: "OpenSans-Bold";
    src: url(../font/Open_sans_font/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "OpenSans-Bolditalic";
    src: url(../font/Open_sans_font/OpenSans-BoldItalic.ttf);
}

@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url(../font/Open_sans_font/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: "OpenSans-ExtraBolditalic";
    src: url(../font/Open_sans_font/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: "OpenSans-italic";
    src: url(../font/Open_sans_font/OpenSans-Italic.ttf);
}

@font-face {
    font-family: "OpenSans-Light";
    src: url(../font/Open_sans_font/OpenSans-Light.ttf);
}

@font-face {
    font-family: "OpenSans-Lightitalic";
    src: url(../font/Open_sans_font/OpenSans-LightItalic.ttf);
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url(../font/Open_sans_font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url(../font/Open_sans_font/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: "OpenSans-SemiBolditalic";
    src: url(../font/Open_sans_font/OpenSans-SemiBoldItalic.ttf);
}

/*******************************HEADER*************************************************/

header {
    background-image: url(../img/bg-header.png);
    background-position-x: center;
    background-repeat: no-repeat;
    height: 898px;
    color: white;
}

/**menu du header**/

#menu-header {
    background-image: url(../img/bg-menu-header.png);
    text-align: center;
    min-height: 90px;
    max-width: 1920px;
    font-family: "OpenSans-SemiBold";
    border-bottom: solid 1px white;
}

.d-inline-flex {
    margin: 0;
    padding: 0;
}

.d-inline-flex li {
    list-style-type: none;
    text-decoration: none;
}

.d-inline-flex li a {
    padding: 39px 25px;
    text-decoration: none;
    color: white;
}

.d-inline-flex li a:hover {
    color: #d31f44;
}

#inscription {
    text-decoration: none;
    color: white;
    background-color: #d31f44;
    padding: 38px 24px;
    border: solid 1px #d31f44;
}

#inscription:hover {
    border: solid 1px white;
}

/**titre du header**/

.container .titre-menu .d-flex .flex-column .align-items-center {
    padding: 0;
    height: 807px;
}

#h1-header {
    font-family: "OpenSans-SemiBold";
    margin-top: 300px;
    margin-bottom: 19px;
}

#fond-h2-header {
    background-color: rgba(255, 255, 255, 0.25);
}

#fond-h2-header h2 {
    padding: 19px 37px;
    font-family: "OpenSans-Light";
}

#bouton-header {
    font-family: "OpenSans-Regular";
    background-color: #d31f44;
    color: white;
    margin-top: 52px;
    margin-bottom: 271px;
    padding: 18px 55px;
    border: solid 1px transparent;
    text-decoration: none;
}

#bouton-header:hover {
    border: solid 1px white;
}

/*******************************HEADER FIN*********************************************/

/*******************************GEN****************************************************/

#main-gen {
    height: 480px;
}

#title-gen {
    text-transform: uppercase;
    text-align: center;
    padding-top: 68px;
    font-family: "OpenSans-bold";
    text-justify: auto;
}

.img-line-gen {
    text-align: center;
    line-height: 10px;
    font-size: 0;
}

#img-logo-gen {
    padding-top: 68px;
}

#col-gauche-gen {
    padding-top: 134px;
    text-align: right;
    font-size: 13px;
}

#col-droite-gen {
    padding-top: 106px;
    font-size: 13px;
}

#ul-gen {
    list-style: none;
}

#ul-gen li::before {
    content: "";
    width: 10px;
    height: 13px;
    margin-right: 3px;
    border-radius: 50%;
    display: inline-block;
    background-color: #d31f44;
    display: inline-block;
    width: 1em;
    margin-left: -3em
}

/*******************************GEN FIN************************************************/

/*******************************Un enseignement adapté*********************************/

#main-ens-ad {
    background-image: url(../img/bg-enseignement-adapte.png);
    height: 447px;
    color: white;
}

#title-ens-ad {
    text-transform: uppercase;
    text-align: center;
    padding-top: 70px;
    text-justify: auto;
    font-family: "OpenSans-bold";
}

.img-line-ens-ad {
    text-align: center;
    line-height: 10px;
    font-size: 0;
    padding-top: 10px;
}

.img-icon1 {
    padding-top: 72px;
    text-align: center;
}

.img-icon2 {
    padding-top: 72px;
    text-align: center;
}

.paragraph-ens-ad {
    padding-top: 42px;
    font-family: "OpenSans-Light";
    text-align: center;
    font-size: 13px;
}

/*******************************Un enseignement adapté FIN*****************************/

/*******************************A chacun son métier************************************/

.main-metier {
    background-color: #3e3e3e;
    height: auto;
}

.text-metier {
    color: white;
}

#titre-video {
    font-family: "OpenSans-SemiBold";
    margin-top: 56px;
    font-size: 30px;
}

#trait-blanc-video {
    margin: 15px 0px 40px 0px;
}

.paragraph-metier {
    font-family: "OpenSans-Regular";
    margin: 0;
    font-size: 13px;
}

.paragraph-bold {
    font-family: "OpenSans-Bold";
    margin: 0;
}

#paragraph-bas-metier {
    margin-bottom: 40px;
}

#bouton-metier {
    padding: 18px 57px;
    border: solid 2px white;
    text-decoration: none;
    color: white;
}

#bouton-metier:hover {
    border: solid 2px #d31f44;
    background-color: #d21e43;
}

#video-metier {
    margin: 116px 0px;
    padding: 0;
}

/*******************************A chacun son métier FIN********************************/

/*******************************A chacun son projet************************************/

.main-projet {
    height: 453px;
}

#img-projet img {
    height: 306px;
    width: 100%;
    margin-top: 79px;
}

.column-right-projet {
    margin-top: 70px;
}

.column-right-projet h3 {
    font-family: "OpenSans-SemiBold";
    font-size: 1.875rem;
    margin-top: 3px;
    margin-bottom: 15px;
}

.column-right-projet p {
    margin-top: 20px;
    margin-bottom: 30px;
}

.column-right-projet ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    padding: 0;
}

.column-right-projet ul li {
    font-size: 0.875rem;
}

.column-right-projet ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 3px;
    border-radius: 50%;
    display: inline-block;
    background-color: #D31F44;
    display: inline-block
}


/*******************************A chacun son projet FIN********************************/

/*******************************Titre pro**********************************************/

.main-titre-pro {
    background-image: url(../img/bg-titrepro.png);
    height: 296px;
    padding-top: 5.37rem;
}

.text-titre-pro {
    color: white;
    text-align: center;
    font-family: "OpenSans-Regular";
    margin: auto;
}

.text-titre-pro span {
    font-family: "OpenSans-Bold";
}

/*******************************Titre pro FIN******************************************/

/*******************************Nos centres de formation*******************************/

/*******************************Nos centres de formation FIN***************************/

/*******************************Témoignages********************************************/

.main-temoignages {
    background-image: url(../img/bg-temoignages.png);
    color: white;
    height: 603px;
}

.header-temoignages {
    padding-top: 70px;
}

.header-temoignages h3 {
    font-family: "OpenSans-SemiBold";
    font-size: 30px;
}

.header-temoignages h3 span{
    border-bottom: 3px solid #ffffff;
    border-image: linear-gradient(to right, #ffffff, #0f0f0f) 1;
    padding-bottom: 29px;
}

#paragraph-temoignage {
    font-family: "OpenSans-Light";
    font-size: 1.375rem;
    margin-top: 98px;
    margin-bottom: 0px;
}

#paragraph-2-temoignage {
    margin: 64px 0px;
    font-family: "OpenSans-Regular";
    font-size: 22px;
}

#paragraph-2-temoignage span {
    font-family: "OpenSans-Bold";
}

#bouton-temoignage {
    text-decoration: none;
    color: white;
    border: solid 2px white;
    padding: 17px 27px;
    size: auto;
    box-sizing: border-box;
}

#bouton-temoignage:hover {
    background-image: linear-gradient(90deg, rgb(210, 31, 68) 0%, rgb(156, 0, 32) 100%);
    border: solid 2px transparent;
}

/*******************************Témoignages FIN****************************************/

/*******************************Contact************************************************/

.main-contact {
    background-image: linear-gradient(180deg, rgb(157,1,33) 0%, rgb(211,31,68) 100%);
    height: 785px;
    color: white;
}

#title-contact {
    font-family: "OpenSans-SemiBold";
    font-size: 30px;
    padding-top: 58px;
}

#title-contact span {
    border-bottom: 3px solid #ffffff;
    border-image: linear-gradient(to right, #ffffff, #a30827) 1;
    padding-bottom: 29px;
}

.form-row {
    padding-right: 0;
}
.inputs {
    padding: 0px;
    border: 0px;
    border-radius: 0;
    border-bottom: solid 1px white;
    background: transparent;
}

.inputs::placeholder {
    color: white;
    margin: 0;
}

.inputs:focus {
    background: transparent;
}

#text-contact {
    font-family: "OpenSans-Regular";
    font-size: 14px;
}

#text-contact span {
    font-family: "OpenSans-Bold";
    font-size: 14px;
}

#message {
    border-radius: 0;
    background: transparent;
}

#button-contact {
    border: none;
    color: #a30827;
    background-color: white;
    padding: 20px 73px;
}


/*******************************Contact FIN********************************************/

/*******************************Logos**************************************************/

/*******************************Logos FIN**********************************************/

/*******************************Footer*************************************************/

/*******************************Footer FIN*********************************************/